# Environnements virtuels
.venv/
venv/
env/
.Sujet9/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables d'environnement
.env

# Streamlit
.streamlit/secrets.toml

# Fichiers générés par l'application
outputs/
*.mid
*.pdf

# VS Code
.vscode/

# Système
.DS_Store
Thumbs.db